html, body {
    line-height: 1.475em;
}

.keepmenu .nav-left {
    width: 51% !important;
}
.keepmenu .nav-left .menu {
    width: 100%;
}
.keepmenu .nav-left .menu a.menu-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.dashboard .my-courses .course .details .course-actions .action {
    color: #262626;
}
h2, .home>header .title>.heading-group p, section.outside-app h1 {
    font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
}
label {
    font-family:  "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    font-style: normal;
}
.modal .inner-wrapper form .submit, .leanModal_box .inner-wrapper form .submit {
    padding-top: 25px;
}
.modal, .leanModal_box {
    background: #fff;
}
.modal .inner-wrapper, .leanModal_box .inner-wrapper {
    border-color: #fff;
    background: #fff;
}
h2, .home>header .title>.heading-group p, section.outside-app h1 {
    color: #5b5b5b;
}
.dashboard .my-courses .course .details .course-title a {
    font-size: 1.4rem;
    font-weight: 400;
    color: #3a76f8;
    line-height:1.4;
}
.dashboard .my-courses .course .details .course-title a:hover {
    color: #083fc4;
}
.dashboard .my-courses .course .details .course-title span {
    font-size: 1.4rem;
    font-weight: 400;
    color: #767676;
    line-height:1.4;
}
.dashboard .my-courses .course .details .enter-course,
.dashboard .my-courses .course .details .enter-course.archived {
    font-size: 0.875rem;
    font-weight: 700;
    background-color: #3a76f8;
    color: #fff;
    border-color: #3a76f8;
}
.dashboard .my-courses .course .details .enter-course:hover, 
.dashboard .my-courses .course .details .enter-course.archived: hover{
    background-color: #083fc4;
}
button#orders-tab {
    display: none;
}
.account-settings-sections .section .account-settings-section-body .u-field .field .field-label {
	font-weight: 700
}
.account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link {
	font-size: 0.875rem;
	font-weight: 700;
}
.edx-notes-wrapper .annotator-hl {
    background: #f9c975 
}
.wrap-instructor-info .instructor-info-action, 
.course-info .container .wrap-instructor-info .instructor-info-action  {
    text-transform: capitalize;
    Color: #3A76F8;
    Font-weight: 700;
    background-color: #FFF;
    Border: 1px solid #3A76F8;
}
.wrap-instructor-info .instructor-info-action:hover,
.course-info .container .wrap-instructor-info .instructor-info-action:hover {
    background: #3A76F8;
    text-decoration: none;
    color: #fff;
}
.view-courseware .bookmark-icon.is-hidden {
    display: none !important;
}
.modal .inner-wrapper header h2, .leanModal_box .inner-wrapper header h2, .wmd-prompt-dialog .inner-wrapper header h2 {
    font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
}
.wiki-wrapper section.wiki .main-article .lead {
    margin-bottom: 1em;
}
.wiki-wrapper section.wiki .controls {
    margin-top: -24px;
    padding-left: 194px;
}
.view-student-notes .note-group .note .wrapper-note-excerpts .note-excerpt {
	background: #f9c975
}

@media screen and (max-width: 768px) {
    .view-discussion-home .home-header {
        margin-top: 1em;
    }
}

@media screen and (max-width: 800px) {
    .keepmenu .nav-left {
        width: auto !important;
    }
    .u-field-message .u-field-message-help, .u-field-message .u-field-message-notification {
    	width: 100%;
    }
    .account-settings-sections .section .account-settings-section-body .u-field .u-field-message {
    	width: 100%;
    	padding-left: 0px;
    }
    .account-settings-sections .section .account-settings-section-body .u-field .field {
		width:100%;
	}
	.account-settings-sections .section .account-settings-section-body .u-field .u-field-message .u-field-message-notification {
		padding: 24px 0 24px 0px;
	}
}

.instructor-dashboard-content-2 .enrollment-wrapper table > caption {
    text-align: left;
    width: 200%;
}

.instructor-dashboard-content-2 .enrollment-wrapper table tr td {
	padding-left: 2em;
}

.slick-header.ui-state-default .slick-header-column {
	height: 24px
}

span.membership-note {
    font-weight: bold; 
    font-size: 0.9em; 
    color: #262626;
}

.instructor-dashboard-wrapper-2 section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget .bottom-bar input[type="text"] {
    width: 300px;
}

.instructor-dashboard-wrapper-2 section.idash-section#student_admin .action-type-container
 label[for="gradebook-link"] {
    font-weight: bold; 
    font-size: 0.81em; 
    color: #262626;
}
 
.instructor-dashboard-wrapper-2 section.idash-section#certificates .white-listed-students button.btn-blue {
    margin-top: 1em;
    margin-bottom: 1em;
}

.ui-accordion .ui-accordion-header#ui-accordion-proctoring-accordion-header-0 .ui-icon {
    left:8.5em;   
}

.ui-accordion .ui-accordion-header#ui-accordion-proctoring-accordion-header-1 .ui-icon {
    left:14.8em;   
}

.home>header .title>.heading-group p, section.outside-app h1, section.outside-app p, 
section.outside-app ul, section.outside-app form {
    font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    text-align: center;
}

section.outside-app p, section.outside-app ul, section.outside-app form {
    max-width: 700px
}

.course-info .course-sidebar header .social-sharing .sharing-message {
    font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    font-style: normal;
}

.course-info header.course-profile .intro-inner-wrapper .intro>.heading-group h1 {
    font-size: 1.6rem;
    font-weight: 400;
    color: #3A76F8;
}

.course-info header.course-profile .intro-inner-wrapper .intro>.heading-group h2, 
.course-info .details {
    font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
}


.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong,
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register {
    border: none !important;
    border-bottom: none !important;
    background-image: none;
    text-shadow: none;
    color: #fff;
    background-color: #3A76F8;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong:hover,
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:hover {
    background-color: #083fc4 !important;
    background-image: none !important;
}

.course-info header.course-profile {
    background-color: #fff;
    border-bottom: 1px solid #ededed;
}

.intro-inner-wrapper {
    border: none !important;
    text-shadow: none !important;
    background-color: #fff !important;
}

.intro-inner-wrapper .media .hero {
    border: 1px solid #ededed !important;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta span.register {
    border: 1px solid #ededed !important;    
}

.dashboard .my-courses .course .details .enter-course:hover, 
.dashboard .my-courses .course .details .enter-course.archived:hover {
    background-color: #083fc4;
}

.view-wiki .wiki-wrapper section.wiki .control-group {
     padding-top: 20px; 
}

.view-wiki .wiki-wrapper section.wiki #div_id_owner_username .controls {
     margin-top: -42px; 
}

.view-wiki .wiki-wrapper section.wiki .control-group .controls {
     margin-top: -28px; 
}

.course-info header.course-profile .intro-inner-wrapper {
    box-shadow: none;
}

@media screen and (max-width: 800px) {
    .nav-right .menu .btn {
        padding: 0em 1rem;
    }
    div.info-wrapper section.handouts {
        width: 100%;
        display: block;
    }
}

.modal .inner-wrapper form .submit input[type="submit"], .leanModal_box .inner-wrapper form .submit input[type="submit"] {
    background: #3A76F8;
    border: none !important;
    box-shadow: none !important;
    background-image: none !important;
    text-shadow: none !important;
    border-bottom: none !important;
    padding: 8px 20px;
    font-size: 1rem;
    width: auto;
    text-transform: capitalize;
}

.modal .inner-wrapper form .submit input[type="submit"]:hover, .leanModal_box .inner-wrapper form .submit input[type="submit"]:hover {
    background: #083fc4;
}

.dashboard .my-courses .course .wrapper-messages-primary .message.message-status.course-status-certavailable .actions-primary .action-certificate .btn {
    font-size: 0.875rem;
    font-weight: 700;
    color: #FFF;
    background-color: #3A76F8;
    border: none !important;
    background-image: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

.dashboard .my-courses .course .wrapper-messages-primary .message.message-status.course-status-certavailable .actions-primary .action-certificate .btn:hover {
    background-color: #083fc4;
}

.dashboard .my-courses .course .details .course-actions .wrapper-action-more .action-more {
    font-size: 0.875rem;
    line-height: 1.46rem;
}

@media screen and (max-width: 920px) {
    .view-profile .badge-set-display .badge-placeholder .badge-details {
        padding-left: 20px
    }
}

.view-profile .profile-section-one-fields {
    width: auto;
}

@media screen and (max-width: 1250px) {
    .view-course-info .home {
        padding-left: 0px;
        padding-right: 0px;
        margin: 0 auto;
        max-width: 1180px;
    }
    .view-course-info .home .page-header-main {
        margin-left: 20px;
    }
}

.home .page-header-secondary {
    background-color: #3A76F8;
}

.home .page-header-secondary:hover {
    background-color:#083fc4;
}

@media screen and (max-width: 525px) {
    .content-wrapper .page-header.has-secondary .page-header-secondary {
        text-align: center;
    }

    .content-wrapper .page-header.has-secondary .page-header-secondary .form-actions {
        margin-top: 20px;
    }
}

.content-wrapper .page-header.has-secondary .page-header-secondary .form-actions a {
    background-color: #3A76F8;
    border: none;
    text-shadow: none;
    box-shadow: none;
    background-image: none;
}

.content-wrapper .page-header.has-secondary .page-header-secondary .form-actions a:hover {
    background-color: #083fc4;
}

.course-sidebar {
    padding-left: 10px;
}

.wiki-wrapper section.wiki #hint_id_content {
    top: 0px;
}

.view-wiki .wiki-wrapper section.wiki #div_id_locked .controls p#hint_id_locked,
.view-wiki .wiki-wrapper section.wiki #div_id_recursive .controls p#hint_id_recursive {
    margin-left: 20px;
    margin-top: -23px;
}

.wiki-wrapper section.wiki .btn.btn-primary, 
.wiki-wrapper section.wiki .btn {
	background-image: none;
	box-shadow: none;
	text-shadow: none;
	border: none;
	background-color: #3a76f8; 
	color: #FFF;
}

.wiki-wrapper section.wiki .btn.btn-primary:hover:not(:disabled), 
.wiki-wrapper section.wiki .btn:hover:not(:disabled) {
	box-shadow: none;
	background-color: #083fc4;
}

.wiki-wrapper section.wiki .btn {
	background-image: none;
	box-shadow: none;
	text-shadow: none;
	border: none;
	background-color: #eee; 
	color: #262626;
}

.wiki-wrapper section.wiki .btn:hover:not(:disabled) {
	box-shadow: none;
	background-color: #dbdbdb;
}

.wiki-wrapper section.wiki .btn.btn-danger {
	background-image: none;
	box-shadow: none;
	text-shadow: none;
	border: none;
	background-color: #b5000d; 
	color: #fff;
}

.wiki-wrapper section.wiki .btn.btn-danger:hover:not(:disabled) {
	box-shadow: none;
	background-color: #7a2000;
}

.edx-notes-wrapper .annotator-wrapper .annotator-editor.annotator-outer button.annotator-save, 
.view-student-notes .title-search-container .search-notes-submit {
	background-image: none;
	box-shadow: none;
	text-shadow: none;
	border: none;
	background-color: #3a76f8; 
	color: #fff;
	border: 1px solid #3a76f8;
}

.edx-notes-wrapper .annotator-wrapper .annotator-editor.annotator-outer button.annotator-save:hover, 
.view-student-notes .title-search-container .search-notes-submit:hover, 
.edx-notes-wrapper .annotator-wrapper .annotator-editor.annotator-outer button.annotator-save:active, 
.view-student-notes .title-search-container .search-notes-submit:active, 
.edx-notes-wrapper .annotator-wrapper .annotator-editor.annotator-outer button.annotator-save:focus, 
.view-student-notes .title-search-container .search-notes-submit:focus {
	box-shadow: none;
	background-color: #083fc4;
	border: 1px solid #083fc4;
}

.instructor-dashboard-content-2 input[type=""button""], 
.instructor-dashboard-wrapper-2 section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget input[type=""button""].add, 
.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-nav .action-create, 
.instructor-dashboard-wrapper-2 section.idash-section#discussions_management .form-submit, 
.ecommerce-wrapper span.tip .add:active:not(:disabled), 
.ecommerce-wrapper span.tip .add:focus:not(:disabled), 
.proctoring-wrapper span.tip .add:active:not(:disabled), 
.proctoring-wrapper span.tip .add:focus:not(:disabled), 
.wiki-wrapper section.wiki .btn, 
.instructor-dashboard-wrapper-2 .customBrowseBtn .file-browse .browse, 
.instructor-dashboard-wrapper-2 section.idash-section#discussions_management .form-submit {
	background-image: none;
	box-shadow: none;
	text-shadow: none;
	border: none;
	background-color: #3a76f8; 
	color: #fff;
}

.instructor-dashboard-content-2 input[type=""button""]:hover:not(:disabled),
.instructor-dashboard-wrapper-2 section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget input[type=""button""].add:hover:not(:disabled),
.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-nav .action-create:hover:not(:disabled),
.instructor-dashboard-wrapper-2 section.idash-section#discussions_management .form-submit:hover:not(:disabled),
.ecommerce-wrapper span.tip .add:hover:not(:disabled), 
.proctoring-wrapper span.tip .add:hover:not(:disabled),
.wiki-wrapper section.wiki .btn:hover:not(:disabled),
.instructor-dashboard-wrapper-2 .customBrowseBtn .file-browse .browse:hover:not(:disabled), 
.instructor-dashboard-wrapper-2 section.idash-section#discussions_management .form-submit:hover:not(:disabled) {
	box-shadow: none;
	background-color: #083fc4;
}

.btn-blue, 
.view-teams .action-primary, 
.instructor-dashboard-wrapper-2 .btn-blue {
	background-color: #FFF;
	color: #3a76f8;
    border: 1px solid #3a76f8; 
    border-radius: 5px; 
    font-weight: 700;
}

.btn-blue:hover, 
.view-teams .action-primary:hover, 
.instructor-dashboard-wrapper-2 .btn-blue:hover {
	background-color: #FFF !important;
	color: #083fc4;
	border: 1px solid #083fc4;
	border-radius: 5px;
	font-weight: 700;
	box-shadow: none;
	background-image: none !important;	
}

.instructor-dashboard-wrapper-2 .customBrowseBtn .file-browse .file_field {
    padding-top: 4px;
    height: 32px;
    left: -30%;
}

.instructor-dashboard-wrapper-2 section.idash-section#student_admin .action-type-container br:first-child {
    display: none;
}

.instructor-dashboard-wrapper-2 section.idash-section#student_admin input[type="text"], 
.instructor-dashboard-wrapper-2 section.idash-section#send_email input[name="subject"]{
    max-width: 651px;
    width: 100%;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-nav .action-create, 
.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .form-submit {
	color: #FFF;
	background-color: #3A76F8;
	background-image: none;
	box-shadow: none;
	text-shadow: none;
	border: none;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-nav .action-create:hover, 
.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .form-submit:hover {
	color: #FFF;
	background-color: #083fc4;
	background-image: none;
	box-shadow: none;
	text-shadow: none;
	border: none;
}

section.outside-app ul li {
    text-align: left;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register {
    text-transform: none;
}


@media screen and (max-width: 813px) {
    .dashboard .my-courses .course .details .wrapper-course-actions {
        width:38%;
    }
    .dashboard .my-courses .course .details .course-actions .action.action {
    	margin-right: 0px;
    }
}
@media screen and (max-width: 835px) {
    .view-profile .badge-set-display .badge-display {
        width: 90%;
    }
}

.xmodule_display.xmodule_CapaModule .problem-hint {
    width: 100%;
}

@media screen and (max-width: 840px) {
    .wiki-wrapper section.wiki .main-article {
        width: 100%
    }
    .wiki-wrapper section.wiki .article-functions {
        width: 100%;
    }
}

.instructor-dashboard-content-2 .wrap-instructor-info {
    display: block;
    margin-bottom: 20px;
}

.instructor-dashboard-wrapper-2 section.idash-section#send_email .list-fields .field .email-targets-primary {
    width: 33%
}

.instructor-dashboard-wrapper-2 section.idash-section#send_email .list-fields .field .email-targets-secondary li {
    width: 130%;
}

.instructor-dashboard-wrapper-2 section.idash-section#send_email .list-fields .field .email-targets-secondary .subheading {
    display: -webkit-inline-box;
}
@media screen and (max-width: 768px) {
    .instructor-dashboard-wrapper-2 section.idash-section#send_email .list-fields .field .email-targets-primary {
        width: 100%;
        display:block;
    }
    .instructor-dashboard-wrapper-2 section.idash-section#send_email .list-fields .field .email-targets-secondary {
        width: 100%;
    }
}

.course-info .container {
	padding: 0px 15px;
}

.instructor-dashboard-wrapper-2 .customBrowseBtn {
    width: 330px;
}

.instructor-dashboard-wrapper-2 .customBrowseBtn .file-browse {
    margin-left: 0px;
}

.instructor-dashboard-wrapper-2 .customBrowseBtn .file-browse .browse {
    border: 1px solid #3a76f8;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    background-color: #3a76f8;
    background-image: none;
    text-decoration: none;
    text-shadow: none;
    background-clip: padding-box;
    margin-left: 249px;
    border-radius: 0 3px 3px 0;
    padding: 2px 10px;
    font-size: 12px;
    height: 30px;
}


