<div class="wrapper-footer" style="padding: 0px;margin-bottom: 0px;">

    <div id="keepfooter"></div>

	<script>
        keepfooter("#666", 'en');
        $( document ).ready(function() {
            var windowHeight = $(window).height();
            var padding = 64;
            var margin = 48;
            var header = 48;
            var accessHeight = (windowHeight * 0.102);
            accessHeight = 0; 
            var footerHeight = $(".keepfooter").height() + padding + margin + header + accessHeight;
            $(".wrapper-content.status-invalid").css("min-height", (windowHeight - footerHeight) + "px");
            
            /*var footerPosition = $(".keepfooter").position()['top'];

            if (windowHeiht > footerPosition) {
                $(".keepfooter").css("position", "absolute");
                $(".keepfooter").css("bottom", "0");
                $(".keepfooter").css("width", "100%");
            }*/
        });
    </script>
    <style>
        .keepfooter {
            margin-top: 0px;
        }
        .layout-accomplishment .wrapper-introduction {
            padding-bottom: 3.5rem;
            padding-top:2.5rem;
            margin-bottom: 0px;
            background: #f6f6f6;
        }
        .layout-accomplishment.certificate-honor .accomplishment-main {
            background: #f6f6f6;
        }
        .hd-2.emphasized {
            width: 100%;
        }
        .wrapper-header {
            margin-bottom: 0px;
        }
        .wrapper-banner-user {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .wrapper-content.status-invalid .content-main {
            padding: 80px 20px !important;
            text-align: center;
            width: 100% !important;
        }

        .wrapper-content.status-invalid .content-main h2.title {
            color: #646464;
            font: normal 1.2em/1.2em Georgia,Cambria,"Times New Roman",Times,serif;
            margin-bottom: 40px;
            -webkit-font-smoothing: antialiased;
        }

        .wrapper-content.status-invalid .content-main p {
            max-width: 768px;
            margin: 0 auto;
            font: normal 1em/1.6em Georgia,Cambria,"Times New Roman",Times,serif;
        }
        
        .accomplishment-rendering {
            background-image: url('/static/keep-ficus/images/tablet_laptop_horizontal.png');
            background-size: cover;
            border-top: none;
            min-height: 708px;
        }
        .accomplishment-type-symbol {
            display: block !important;
            margin-left: 65px !important;
            padding-top: 30px !important;
        }
        .dist {
            height: 27px;
            width: 182px;
            opacity: 0.7;
            padding-top: 4px;
            text-align: center;
            font-family: 'Open Sans';
            color: white;
            font-size: 0.8rem;
            font-weight: 600;
            margin-left: 52px;
            margin-top: 50px;
        }
        .section-left {
            float: left;
            width: 30%;
        }
        .section-right {
            float: right;
            width: 70%;
        }
        .mobile {
            display:none;
        }
        .layout-accomplishment .accomplishment-signatories .signatory {
            width: calc(23% - 1rem) !important;
        }
        @media (max-width: 768px) {
            .accomplishment-rendering {
                background-image: url('/static/keep-ficus/images/mobile_tablet_vertical.png');
                background-size: 100% 100%;
            }
            .accomplishment-type-symbol {
                display: none important;
            }
            .layout-accomplishment .accomplishment-rendering .accomplishment-type {
                margin-left: 0px;
            }
            .dist {
                display:none;
            }
            .section-left {
                display: none;
            }
            .section-right {
                width: 100%;
            }
            .mobile {
                display:block !important;
                vertical-align: middle;
                margin-top: 30px;
                text-align:center;
            }
            .layout-accomplishment .accomplishment-signatories  .signatory {
                width: calc(50% - 1rem) !important;
            }
        }
        @media (max-width: 375px) {
            .layout-accomplishment .accomplishment-signatories  .signatory {
                width: calc(100% - 1rem) !important;
            }
        }
        @media (max-width: 1024px){
            .mobile {
                display:none;
            }
            .accomplishment-type-symbol {
                display: block !important;
                margin-left: 40px !important;
                padding-top: 30 !important;
            }
            .dist {
                margin-left: 25px;
                margin-top: 50px;
            }
            .layout-accomplishment .accomplishment-signatories .signatory {
                width: calc(23% - 1rem);
            }
            .accomplishment-rendering {
                min-height: 589px;
                padding-bottom: 0px;
            }
        }
        .accomplishment-rendering .accomplishment-signatories {
            border-bottom: none;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    </style>

</div>
