.keepfooter {
    background: #f6f6f6;
    padding: 1rem 0;
    color: #333;
    font-size: 0.875rem;
}

.keepfooter a {
    color: #333;
    text-decoration: none;
}

.keepfooter .col-md-2 {
    margin-top: 1rem;
}

.keepfooter .col-md-2 a {
    display: block;
}

.keepfooter i {
    font-size: 28.8px;
    display: block;
    margin-bottom: 1.6rem;
}

@media screen and (min-width: 768px) {
    .keepfooter .col-md-2 {
        margin-top: 0;
    }

    .keepfooter .col-md-2 a {
        text-align: right;
    }
}

@media screen and (max-width: 768px) {
    .keepfooter .row .col-md-6,
    .keepfooter .row .col-md-2,
    .keepfooter .row .col-md-9 ,
    .keepfooter .row .col-md-3 {
        width: 100% !important;
        float: left !important;
    }
}

.keepfooter .copyright {
    text-align: left;
    margin-top: 3.2rem;
    font-size: 12px;
}

.keepfooter .copyright2 {
    color: #909090;
	font-size: 11.68px;
}

.edxLogo {
    margin-top: 42px;
    text-align: right;
    padding-right: 10px;
}

.keepfooter .row {
    line-height: 20px
}

.keepfooter .row .col-md-6 {
    width: 50%;
    float: left
}

.keepfooter .row .col-md-2 {
    width: 16.66%;
    float: left
}

.keepfooter .row .col-md-9 {
    width: 75%;
    float: left
}

.keepfooter .row .col-md-3 {
    width: 25%;
    float: left;
    padding-right: 0px
}


.keepfooter {
    padding: 0px 15px !important;
    font-size: 14px !important;
}

.wrapper-footer.wrapper {
    box-sizing: border-box;
    margin: 0 auto 0;
    max-width: 1200px !important;
    /* min-width: 760px !important;
    width: 100% !important; */
    padding: 32px 0px;
    margin-top: 1px;
}

.view-util .content header h1 {
    font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif !important;
    font-size: 2.4rem !important;  
    font-weight: 600 !important;
    line-height: 5.328rem !important;
}
.view-util .content .content-primary p {
    font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif !important;
    line-height: 24px !important;
}

.util-404 {
    -webkit-font-smoothing: antialiased;
}