/****************************************************************************************************
*   Theming File
*
*   Contains all the theme color definitions for the Open Source MOOC Project
*
****************************************************************************************************/

@import 'lms/static/sass/partials/base/variables';

.course-info header.course-profile {
	padding-top: 40px !important;
}

.home>header {
    background-image: url(/static/keep-ficus/images/hero.png) !important;
    height: 345px;
}

.u-field-auth-saml-keep-auth {
    display: none !important;
    visibility: hidden !important;
}

.u-field.u-field-social.u-field-auth-saml-keep-auth{
 display: none !important;
    visibility: hidden !important;

}

button#accounts-tab {
	display: none;
}


.home>header .title {
    background: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.home>header .title>.heading-group {
    margin: auto;
    width: 350px;
    height: 13px;
    position: absolute;
    left: 0 !important;
    right: 0;
    top: 0 !important;
    bottom: 0;
    padding-bottom: 0px;
}

.home>header .title>.heading-group h1 {
    font-size: 1.5rem;
    text-align: center !important;
    text-shadow: none !important;
    margin-top: 0px;
    color: rgb(110, 175, 221);
}

.highlighted-courses .courses, .find-courses .courses {
	padding-bottom: 70px !important;
}

.view-courseware .content-wrapper {
    margin-bottom: 70px !important;
}

/*.wrapper-course-material {
    display: -webkit-box;
	width: 100%
}*/

.window-wrap {
    background-color: #ffffff !important;
}

.u-field-value {
    width: 100%;
}

.view-student-notes .wrapper-student-notes {
    max-width: 1180px; 
    margin: 0 auto;
}
