<%page expression_filter="h" args="online_help_token"/>
<%namespace name='static' file='../static_content.html'/>
<%!
  from django.conf import settings
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages
  from student.roles import GlobalStaff
  from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user
%>

<link rel="stylesheet" type="text/css" href="${static.url('css/keeplogo/keeplogo.css')}">
<link rel="stylesheet" type="text/css" href="${static.url('css/keepmenu-studio.css')}">
<link rel="stylesheet" type="text/css" href="${static.url('css/keepfooter-studio.css')}">
<!-- <script type="text/javascript" src="${static.url('js/keepmenu.js')}"></script> -->
<!-- <script type="text/javascript" src="${static.url('js/keepfooter.js')}"></script>  -->

<script>
    $('.hamburger').click(function() {
      return $('.nav-left, .nav-right').toggleClass('nav-show');
    });
</script>

<nav class="keepmenu">
  <div class="container">
    <div class="nav-logo">
      <div class="menu">
        <a class="menu-item" href="/"><i class="keeplogo-logo_KEEPCourse_horizontal"></i></a>
        <div class="submenu">
              <a class="submenu-item" href="http://keep.edu.hk"><i class="keeplogo-logo_KEEP_horizontal"></i></a>
              <a class="submenu-item" href="http://catalog.keep.edu.hk"><i class="keeplogo-logo_KEEPCatalog_horizontal"></i></a>
              <a class="submenu-item" href="http://course.keep.edu.hk"><i class="keeplogo-logo_KEEPCourse_horizontal"></i></a>
              <a class="submenu-item" href="http://search.keep.edu.hk"><i class="keeplogo-logo_KEEPSearch_horizontal"></i></a>
              <a class="submenu-item" href="http://poll.keep.edu.hk/"><i class="keeplogo-logo_KEEPoll_horizontal"></i></a>
          <div style="height: 0.8rem"></div>
        </div>
      </div>
      <div class="hamburger" onclick="return $('.nav-left, .nav-right').toggleClass('nav-show');">
        <i class="fa fa-bars"></i>
      </div>
    </div>
    % if context_course:
      <%
            course_key = context_course.id
            index_url = reverse('contentstore.views.course_handler', kwargs={'course_key_string': unicode(course_key)})
            course_team_url = reverse('contentstore.views.course_team_handler', kwargs={'course_key_string': unicode(course_key)})
            assets_url = reverse('contentstore.views.assets_handler', kwargs={'course_key_string': unicode(course_key)})
            textbooks_url = reverse('contentstore.views.textbooks_list_handler', kwargs={'course_key_string': unicode(course_key)})
            videos_url = reverse('contentstore.views.videos_handler', kwargs={'course_key_string': unicode(course_key)})
            import_url = reverse('contentstore.views.import_handler', kwargs={'course_key_string': unicode(course_key)})
            course_info_url = reverse('contentstore.views.course_info_handler', kwargs={'course_key_string': unicode(course_key)})
            export_url = reverse('contentstore.views.export_handler', kwargs={'course_key_string': unicode(course_key)})
            settings_url = reverse('contentstore.views.settings_handler', kwargs={'course_key_string': unicode(course_key)})
            grading_url = reverse('contentstore.views.grading_handler', kwargs={'course_key_string': unicode(course_key)})
            advanced_settings_url = reverse('contentstore.views.advanced_settings_handler', kwargs={'course_key_string': unicode(course_key)})
            tabs_url = reverse('contentstore.views.tabs_handler', kwargs={'course_key_string': unicode(course_key)})
            certificates_url = ''
            if settings.FEATURES.get("CERTIFICATES_HTML_VIEW") and context_course.cert_html_view_enabled:
                certificates_url = reverse('contentstore.views.certificates.certificates_list_handler', kwargs={'course_key_string': unicode(course_key)})
      %>
        
    <div class="nav-left">
        <div class="menu course-name">
            <a class="menu-item" href="${index_url}">
		<span class="course-title" title="${context_course.display_name_with_default}">${context_course.display_name_with_default}</span>
	    </a>
        </div>
        <div class="menu">
            <a class="menu-item" href="#">Content<i class="fa fa-caret-down"></i></a>
            <div class="submenu">
                <a class="submenu-item" href="${index_url}">${_("Outline")}</a>
                <a class="submenu-item" href="${course_info_url}">${_("Updates")}</a>
                <a class="submenu-item" href="${tabs_url}">${_("Pages")}</a>
                <a class="submenu-item" href="${assets_url}">${_("Files & Uploads")}</a>
                <a class="submenu-item" href="${textbooks_url}">${_("Textbooks")}</a>
                % if context_course.video_pipeline_configured:
                    <a class="submenu-item" href="${videos_url}">${_("Video Uploads")}</a>
                % endif
            </div>
        </div>
        <div class="menu">
            <a class="menu-item" href="#">Settings<i class="fa fa-caret-down"></i></a>
            <div class="submenu">
                <a class="submenu-item" href="${settings_url}">${_("Schedule & Details")}</a>
                <a class="submenu-item" href="${grading_url}">${_("Grading")}</a>
                <a class="submenu-item" href="${course_team_url}">${_("Course Team")}</a>
                <a class="submenu-item" href="${reverse('contentstore.views.group_configurations_list_handler', kwargs={'course_key_string': unicode(course_key)})}">${_("Group Configurations")}</a>
                <a class="submenu-item" href="${advanced_settings_url}">${_("Advanced Settings")}</a>
                % if certificates_url:
                    <a class="submenu-item" href="${certificates_url}">${_("Certificates")}</a>
                % endif
            </div>
        </div>
        <div class="menu">
            <a class="menu-item" href="#">Tools<i class="fa fa-caret-down"></i></a>
            <div class="submenu">
                <a class="submenu-item" href="${import_url}">${_("Import")}</a>
                <a class="submenu-item" href="${export_url}">${_("Export")}</a>
                % if settings.FEATURES.get('ENABLE_EXPORT_GIT') and context_course.giturl:
                    <a class="submenu-item" href="${reverse('export_git', kwargs=dict(course_key_string=unicode(course_key)))}">${_("Export to Git")}</a>
                % endif
            </div>
        </div>
    </div>  
        
    % elif context_library:
       <%
            library_key = context_library.location.course_key
            index_url = reverse('contentstore.views.library_handler', kwargs={'library_key_string': unicode(library_key)})
            import_url = reverse('contentstore.views.import_handler', kwargs={'course_key_string': unicode(library_key)})
            lib_users_url = reverse('contentstore.views.manage_library_users', kwargs={'library_key_string': unicode(library_key)})
            export_url = reverse('contentstore.views.export_handler', kwargs={'course_key_string': unicode(library_key)})
      %>
    
    <div class="nav-left">
        <div class="menu">
            <a class="menu-item" href="#">Settings<i class="fa fa-caret-down"></i></a>
            <div class="submenu">
                <a class="submenu-item" href="${lib_users_url}">${_("User Access")}</a>
            </div>
        </div>
        <div class="menu">
            <a class="menu-item" href="#">Tools<i class="fa fa-caret-down"></i></a>
            <div class="submenu">
                <a class="submenu-item" href="${import_url}">${_("Import")}</a>
                <a class="submenu-item" href="${export_url}">${_("Export")}</a>
            </div>
        </div>
    </div>

    % endif
    
    <div class="nav-right">
      % if user.is_authenticated():
        <%
		  real_user = getattr(user, 'real_user', user)
		  username = real_user.username
		  profile_image_url = get_profile_image_urls_for_user(real_user)['medium']
		%>
        <div class="menu">
            <a class="menu-item" href="${get_online_help_info(online_help_token)['doc_url']}" title="${_('Contextual Online Help')}" target="_blank">${_("Help")}</a>
        </div>
        <div class="menu">
          <a class="menu-item" href="#">
            <img src="${profile_image_url}" alt="${user.first_name}" title="${user.first_name}" class="img-circle avatar">${user.first_name}<i class="fa fa-caret-down"></i>
          </a>
          <div class="submenu">
            <a class="submenu-item" href="/">Dashboard<span style="font-size: 10px"> (KEEP Studio)</span></a>
            % if GlobalStaff().has_user(user):
                <a class="submenu-item" href="${reverse('maintenance:maintenance_index')}">${_("Maintenance")}</a>
            % endif
            <hr>
            <a class="submenu-item" href="${reverse('logout')}">Logout</a>
          </div>
        </div>
      % else:
        <div class="menu">
            <a class="menu-item" href="${get_online_help_info(online_help_token)['doc_url']}" title="${_('Contextual Online Help')}" target="_blank">${_("Help")}</a>
        </div>
        <div class="menu">
          <a class="btn menu-btn-outline" href="${reverse('login')}">${_("Login")}</a>
        </div>
      % endif
    </div>
  </div>
</nav>
